[submodule "themes/docuapi"]
	path = themes/docuapi
	url = https://github.com/bep/docuapi
[submodule "themes/github.com/slatedocs/slate"]
	path = themes/github.com/slatedocs/slate
	url = https://github.com/slatedocs/slate
